# Environment & Infrastructure
jupyter
ipython
psutil

# Data ingestion and manipulation
numpy
pandas
xarray
cftime
dask
distributed
netCDF4
h5netcdf
cfgrib
eccodes
regionmask

# Statistical modeling and machine learning
scipy
scikit-learn
statsmodels
ruptures

# Visualization
matplotlib
cartopy
imageio
imageio-ffmpeg
